/*TODO: Make this less of a cluster fuck*/

body {
    font-family: "EncodeSansExpanded", sans-serif;
    margin: 0;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
}

p {
    line-height: 1.5em;
    font-size: 1.1em;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

hr {
    margin: 3em 0;
    border-top: none;
    border-bottom: #f5f5f5 solid 1px;
}

.post h2 {
    margin-top: 3em;
}

.post h3 {
    margin-top: 2em;
}

.post a {
    text-decoration: underline;
}

.justify-center {
    justify-content: center;
}

.no-gap > * {
    margin-top: 0;
    margin-bottom: 0;
}

.no-gap {
    margin-bottom: 1em;
}

.container {
    width: 45.5%;
    min-width: 40em;
    max-width: 43.5em;
    margin: auto;
}

.footer {
    border-top: 1px #f5f5f5 solid;
    margin-top: 10em;
    color: #bdbdbd;
}

.header {
    margin-bottom: 4em;
}

.header img {
    height: 45vh;
}

.empty-header {
    height: calc(45vh + 51px + 1em);
}

.header .menu {
    padding-bottom: 1em;
    border-bottom: solid 1px #f5f5f5f5;
}

.header .menu a {
    color: black;
    width: 30%;
    display: inline-block;
    font-family: 'Megrim', cursive;
    padding: 0.3em 0em;
    font-size: 1.8em;
}

.a-style {
    cursor: pointer;
}

.justify {
    text-align: justify;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-desc h2 {
    margin: 0;
    text-align: left;
}

.list-desc small {
    color: #9e9e9e;
}

.underline {
    text-decoration: underline !important;
}

.about-section * {
    display: inline;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.blur {
    filter: blur(3px);
    color: #aaaaaa;
}

.hover-unblur:hover * {
    filter: blur(0px) !important;
    color: initial;
}

@keyframes aAnim {
    0% {
        background: white;
        color: black;
    }
    100% {
        background: black;
        color: white;
    }
}

a {
    text-decoration: none;
    color: initial;
}

.flip-vert {
    transform: scale(1, -1);
}

.flip-horz {
    transform: scale(-1, 1);
}

.inverse {
    color: white !important;
    background: black;
}

.awards.hide-mobile * {
    width: calc(25% - 2.25em);
    margin: 2em 1em;
}

.awards.show-mobile img {
    width: calc(50% - 2.5em);
    margin: 1em;
}

a:hover:not(.disabled), .a-style:hover {
    background: black !important;
    color: white !important;
    animation-name: aAnim;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 200ms;
}

a:active:not(.disabled) {
    background: #424242 !important;
}

a:visited {
    color: inherit;
}

#site-copyright {
    font-size: 0.7em;
}

.show-mobile {
    display: none;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.hover-action span {
    display: inline;
}

.hover-action:hover .fadeout {
    animation-name: fadeout;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 500ms;
    opacity: 0;
}

.fadein {
    opacity: 0;
}

.hover-action:hover .fadein {
    animation-name: fadein;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 500ms;
    opacity: 1;
}

.grid {
    display: grid;
}

pre.code {
    text-align: left;
    display: block;
    margin: 1em 2em;
    background: #f5f5f5;
    padding: 1em;
    white-space: pre-wrap;
    counter-reset: line;
}

pre.code code {
    counter-increment: line;
    white-space: pre-wrap;
}

pre.code code:before {
    display: inline-block;
    content: counter(line);
    padding-right: 1em;
    margin-right: 1em;
    width: 2em;
    text-align: right;
    border-right: #9e9e9e solid 1px;
    color: #9e9e9e;
}

.refer {
    margin-top: 10em;
    text-align: left;
    font-size: 0.7em;
}

p code {
    background: #f5f5f5;
    padding: 0 2px;
}

.refer a {
    text-decoration: none;
}

div.gallery {
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

div.gallery div {
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin-right: 1vw;
}

div.gallery div:last-child {
    margin-right: 0;
}

div.gallery div img {
    width: 100%;
    height: auto;
}

.caption {
    text-align: center;
    color: #7b7b7b;
    font-size: 1em;
    margin-top: 0;
}

@media only screen and (max-width: 800px) {
    .container {
        min-width: calc(100vw - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }

    .header .menu a {
        font-size: 1em;
    }

    .show-mobile {
        display: initial;
    }

    .hide-mobile {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    div.gallery div {
        margin: 0;
    }
}

