body {
    margin: 0;
}

div.dimension {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.dimension > .world {
    width: 100%;
    height: 100%;
}

.world > div {
    position: fixed;
    width: 100%;
    height: 100%;
}

.world > .ui {
    z-index: 15;
}

.ui div {
    position: fixed;
}

.ui .chat {
    left: 0;
    bottom: 0;
}
.ui .chat * {
    display: block;
    font-family: RedAlert;
    width: 40vw;
    font-size: 1.5em;
    background: transparent;
    color: white;
    -webkit-border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    border-radius: 0.1em;
    border: white 1px solid;
    padding: 8px;
}

.world > canvas {
    z-index: 0;
    background: #1C1117;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
