.App {
  text-align: center;
}

.App > h1 {
  margin-top: 3.5em;
  margin-bottom: 1em;
}

.App-logo {
  margin: 0;
}

.App-logo svg {
  height: 60px;
}

.App-header {
  background-color: black;
  padding: 20px;
  color: white;
}

.me h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.me p {
  margin: 0;
}

img {
  width: 100%;
}