@font-face {
    font-family: 'Megrim';
    font-style: normal;
    font-weight: 400;
    src: local('Megrim'), url(/fonts/Megrim.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(/fonts/Raleway.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
    font-family: 'RedAlert';
    font-style: normal;
    src: url("/fonts/RedAlert.ttf");
}

@font-face {
    font-family: 'EncodeSansExpanded';
    font-style: normal;
    src: url("/fonts/EncodeSansExpanded-Light.ttf");
}

@font-face {
    font-family: 'EncodeSansExpanded';
    font-weight: bold;
    src: url("/fonts/EncodeSansExpanded-SemiBold.ttf");
}

/* Scroll bar things :) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #eaeaea;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}