h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "EncodeSansExpanded", sans-serif;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

p a:hover:not(.disabled), .a-style:hover {
  background: black !important;
  color: white !important;
  animation-name: aAnim;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}

p a:active:not(.disabled) {
  background: #424242 !important;
}

p a {
  color: inherit;
}
